* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

#header {
    /* width: 100%; */
    height: 100vh;
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center center;
}

.container {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 85px;
}

/*
 */
nav ul {
    margin-top: 15px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    transition: 0.5s;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(230, 3, 72);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;

}

nav ul li a:hover::after {

    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 25px;

}

.header-text h1 {
    font-size: 55px;
    margin-top: 20px;
}

.header-text h1 span {
    color: rgb(230, 3, 72);
}

/* -------------------about------------------ */
.container2 {
    padding: 10px 5%;
}

#about {
    padding: 50px 0px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 330px;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(230, 3, 72);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span {
    color: rgb(230, 3, 72);
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ---------------services-------------- */
#services {
    padding: 30px 0;

}

.container3 {
    padding: 10px 5%;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: rgb(54, 54, 54);
    padding: 40px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 30px;
}

.services-list div h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 5px;
}

.services-list div a {
    text-decoration: none;
    color: rgb(254, 255, 166);
    font-size: 15px;
    margin-top: 10px;
    display: inline-block;

}

.services-list div a:hover {
    color: rgb(0, 255, 64);

}

.services-list div:hover {
    background: rgb(230, 3, 72);
    transform: translateY(-10px);
}

/* -----------portfolio---------- */
#portfolio {
    padding-inline-start: 50px 0;
}

.container4 {
    padding: 10px 5%;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(230, 3, 72));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 00.5s;
}

.layer h3 {
    font-weight: 600;
    margin-bottom: 20px;
    transition: 0.3s;
}

.layer a {
    margin-top: 20px;
    color: rgb(230, 3, 72);
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    text-align: center;
}

.layer h3:hover {
    font-size: 20px;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(230, 3, 72);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.btn:hover {
    background: rgb(230, 3, 72);

}

/* -------------contact------ */
.row2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.container5 {
    padding: 10px 5%;
}

.con {
    font-size: 20px;
}

.contact-left {
    flex-basis: 35%
}

.contact-right {
    flex-basis: 60%
}

.contact-left p {
    margin-top: 30px;

}

.contact-left p i {
    color: rgb(230, 3, 72);
    margin-right: 15px;
    font-size: 25px;
}

.social-icones {
    margin-top: 30px;
}

.social-icones a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 35px;
    color: white;
    display: inline-block;
    transition: 0.3s;
}

.social-icones a:hover {
    color: rgb(230, 3, 72);
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: rgb(230, 3, 72);
    text-decoration: underline;
    text-underline-offset: 4px;

}

.btn.btn3 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;

    display: inline-block;
    background: rgb(230, 3, 72);
    cursor: pointer;

}

.btn.btn3:focus {
    background-color: rgb(192, 0, 16);

}

.contact-right form {
    width: 100%;

}

form input,
form textarea {
    border: 0;
    width: 100%;
    outline: none;
    background: rgb(54, 54, 54);
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

#msg {
    color: green;
    display: block;
    margin-top: -30px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(73, 115, 143);
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: -80px;
}

.copyright p i {
    color: rgb(230, 3, 72);

}

nav .fa-solid {
    display: none;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* -----------------cssforscreen---------------- */
@media only screen and (max-width: 1000px) {
    #header {
        background-image: url(img/background.png);
        background-size: cover;
        background-position: center;



    }

    .header-text p {
        font-size: 25px;
        margin-top: 220px;
    }

    .header-text h1 {
        font-size: 45px;
        margin-top: 12px;
    }

    .sub-title {
        font-size: 40px;
        color: white;
    }

    .about-col-2 p {
        font-size: 16px;

    }

    .about-col-1 img {
        width: 300px;
        border-radius: 16px;
    }

    #services {
        padding: 10px 0;
    }

    .services-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 35px;
        margin-top: 25px;
    }

    .work-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 30px;
        margin-top: 25px;
    }

    .btn {
        background-color: #ffffff00;
        display: block;
        margin: 15px auto;
        width: fit-content;
        border: 1px solid rgb(230, 3, 72);
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: white;
        transition: 0.5s;

    }

    .container {
        padding-top: 10px;

    }

    .container5 {
        padding: 10px 5%;
    }

    #msg {
        margin-top: 10px;
    }

}

/* -----------------cssforscreen---------------- */
@media only screen and (max-width: 800px) {
    #header {
        background-image: url(img/background2.png);
        background-size: cover;
        background-position: center;


    }

    .logo {
        width: 100px;
    }

    .header-text p {
        font-size: 22px;
        margin-top: 250px;
    }

    .header-text h1 {
        font-size: 35px;
        margin-top: 12px;
    }

    .container5 {
        padding: 10px 5%;
    }

    #msg {
        margin-top: 10px;
    }
}

/* -----------------cssfortab--------------- */
@media only screen and (max-width: 630px) {
    #header {
        background-image: url(img/background3.png);
        background-size: cover;
        background-position: center;
        position: relative;


    }

    nav ul li a::after {
        content: '';
        width: 0;
        height: 3px;
        background: rgb(255, 255, 255);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;

    }

    nav ul li a:hover::after {

        width: 100%;
    }

    .logo {
        width: 95px;
    }

    #header {
        width: 100%;
        height: 90vh;
    }

    .header-text p {
        font-size: 17px;
        margin-top: 250px;
    }

    .header-text h1 {
        font-size: 28px;
        margin-top: 14px;
    }

    nav {
        position: fixed;
    }

    nav ul {
        background-color: rgb(230, 3, 72);
        position: absolute;
        top: -105vh;
        right: -8px;
        width: 200px;
        height: 90vh;
        padding-top: 50px;

        transition: top 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;


    }

    nav a {
        text-decoration: none;
        display: block;
    }

    nav a .fa-bars {

        color: white;
        text-decoration: none;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 15px;
        position: relative;


    }

    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .container {
        padding-top: 10px;
        padding-left: 24px;
        padding-right: 10px;
    }

    .container4 {
        overflow: hidden;
    }

    .container5 {
        padding: 10px 5%;
    }

    #msg {
        margin-top: 10px;
    }

    nav .fa-bars {
        margin-left: 390px;

    }

    nav .fa-solid {

        display: block;
        font-size: 25px;
        padding-right: 15px;
    }

    .tce {
        margin-left: 20px;
    }

}

/* ---------------------------for mobiles------------------------------------- */
@media only screen and (max-width: 430px) {
    /* nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 3px;
    transition: 0.5s;
} */

    nav {
        position: fixed;
    }


    nav ul li {
        display: block;
        margin: 25px;

    }

    #header {
        background-image: url(img/phoneback.jpg);
        background-size: cover;
        background-position: center;



    }

    #header {
        width: 530px;
        height: 90vh;
    }

    .logo {
        width: 70px;
        background-color: black;
    }

    .header-text p {
        font-size: 14px;
        margin-top: 250px;
    }

    .header-text h1 {
        font-size: 25px;
        margin-top: 14px;
    }

    .services-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 35px;
        margin-top: 25px;
    }

    .about-col-1 {
        margin-bottom: 10px;
        flex-basis: 35%;
    }

    .about-col-1 img {
        width: 345px;
        border-radius: 110px 0;
    }

    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    .about-col-2 p {
        margin-top: 10px;
        font-size: 1.2em;
    }


    .about-col-2 {
        width: auto;
    }

    .about-col-2 {
        margin-left: 10px;
        flex-basis: 60%;
    }

    .container2 {
        margin: 0 75px;
        padding: 10px 5%;
    }

    .tab-links:active {
        color: rgb(230, 3, 72);
    }

    .tab-contents ul li span {
        color: rgb(230, 3, 72);
        font-size: 18px;
    }

    .container3 {
        width: 400px;
        padding: 10px 10%;
    }

    #services {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 68px;
    }

    .sub-title {
        margin: 0 0 0 66px;
        font-size: 35px;
        color: white;
    }

    #portfolio {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 68px;
        padding-inline-start: 50px 0;
    }

    .container {
        padding-top: 10px;
        padding-left: 5%;
        padding-right: 0;
    }

    #text {
        font-size: 14px;
    }

    .container4 {

        width: 400px;
        padding: 10px 10%;
    }

    .container5 {
        width: 530px;
        padding: 10px 100px;
    }

    .row2 {
        display: block;
        justify-content: center;
    }

    .con {
        margin-top: -24px;
        margin-left: 45px;
        font-size: 20px;
    }

    .btn {
        margin-left: 80px;
    }

    .btn.btn2 {
        margin-left: 70px;

    }

    .btn.btn3 {
        margin-left: 80px;
        margin-top: 0;
    }

    .social-icones {
        margin-left: 50px;
        margin-top: 30px;
    }

    #msg {
        margin-top: 10px;
    }

    .copyright {
        width: 530px;
    }

    .tab-links {
        margin-right: 50px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
    }

    nav .fa-bars {
        margin-left: 390px;
    }
}



@media only screen and (min-width: 200px) {
    html {
        zoom: .8;
    }
}

@media only screen and (min-width: 800px) {
    html {
        zoom: .9;
    }
}

@media only screen and (min-width: 1000px) {
    html {
        zoom: 1;
    }
}